.container {
    margin-bottom: 1.5rem;
    padding-top: 3.2rem;
    position: relative;
    /* background-image: url('../../images/net.svg');   */
    /* background-position: left; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

.netContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.headerText {
    position: relative;
}

.headerText::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 2px;
    width: 0px;
    transition: all 0.5s ease;
    opacity: 0;
    background-color: #8758FF;
}

.container:hover .headerText::after {
    opacity: 1;
    transition: all 0.5s ease;
    width: 108px;
}

.box {
    width: 100%;
    z-index: 99;
    padding-bottom: 2rem;
}

.tooltip>div {
    width: 100% !important;
}

@media screen and (max-width: 650px) {
    .container:hover .headerText::after {
        width: 70px;
    }

    .subTextHeader {
        font-size: 18px !important;
    }
}