.container {
    min-height: 100vh;
    padding-top: 3.2rem;
}

.headerText {
    position: relative;
}

.container:hover .headerText::after {
    opacity: 1;
    transition: all 0.5s ease;
    width: 140px;
}

.headerText::after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #8758FF;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.5s ease;
    opacity: 0;
}

.projectBox {}

.cardBody {
    position: relative;
    z-index: 9;
}

.cardBody::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.cardBodyBox{
    z-index: 9;
}
@media screen and (max-width: 650px) {
    .container:hover .headerText::after {
        width: 95px;
    }

    .subTextHeader {
        font-size: 20px !important;
    }
}