.container {
    min-height: 100vh;
    padding-top: 3.2rem;
}

.headerText {
    position: relative;
}

.container:hover .headerText::after {
    opacity: 1;
    transition: all 0.5s ease;
    width: 140px;
}

.headerText::after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #8758FF;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.5s ease;
    opacity: 0;
}

.cardHeading {
    position: relative;
    z-index: 999;
    padding: 6px 12px;
}

.line1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #FD841F;
    left: 0;
    bottom: 0;
}

.line2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #FD841F;
    left: 0;
    top: 0;
}

.line3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #FD841F;
    right: 0;
    top: 0;
}

.line4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #FD841F;
    right: 0;
    bottom: 0;
}

.cardContainer:hover .line1,
.modalContainer:hover .line1 {
    animation: move1 1500ms 2 ease;
}

.cardContainer:hover .line2,
.modalContainer:hover .line2 {
    animation: move2 1500ms 2 ease;
}

.cardContainer:hover .line3,
.modalContainer:hover .line3 {
    animation: move3 1500ms 2 ease;
}

.cardContainer:hover .line4,
.modalContainer:hover .line4 {
    animation: move4 1500ms 2 ease;
}

@media screen and (max-width: 650px) {
    .container:hover .headerText::after {
        width: 95px;
    }

    .subTextHeader {
        font-size: 20px !important;
    }
}


@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }

    54% {
        height: 0;
        bottom: 100%;
    }

    55% {
        height: 0;
        bottom: 0;
    }

    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }

    54% {
        height: 0;
        top: 100%;
    }

    55% {
        height: 0;
        top: 0;
    }

    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }

    55% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 0;
        right: 100%;
    }
}