.container {
    width: 100%;
}

.headerText {
    position: relative;
}

.headerText::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    width: 0px;
    background-color: #8758FF;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.5s ease;
}

.container:hover .headerText::after {
    opacity: 1;
    width: 195px;
    transition: all 0.5s ease;
}

.twoBranch {
    transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: 0 0;
    transform: scaleY(0);
    transition-duration: 1s;
    transition-delay: 200ms;
}

.icon {
    position: relative;
    height: max-content;
    width: max-content;
}

.commonIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    filter: blur(17px);
}

.violateIcon {
    background-color: #dd7df7;
}

.greenIcon {
    background-color: #7ee787;
}

.orangeIcon {
    background-color: #ffa28b;
}

.line {
    /* height: 300px; */
    width: 2px;
    z-index: 1;
    border-radius: 6px;
    margin-left: 13px;
    transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: 0 0;
    transform: scaleY(0);
    transition-duration: 1s;
    transition-delay: 200ms;
}

.lineVisible {
    transform: scaleY(1);
}

.violateGreen {
    background: linear-gradient(#d2a8ff, #a371f7 10%, #196c2e 70%, #2ea043 80%, #56d364);
}

.greenOrrange {
    background: linear-gradient(#75d687, #0dcd30 33%, #ea6045 80%, #ffa28b);
}

.orrange {
    background: linear-gradient(#ffd6cc, #ec6547, #ec6547, var(--nextui-colors-background));
}

.green {
    background: linear-gradient(#2ea043, #2ea043, var(--nextui-colors-background));
}




@media screen and (max-width: 650px) {
    .container:hover .headerText::after {
        width: 135px;
    }

}